/* ---------------------- NAVBAR ---------------------- */
.container_nav .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 25px 0% 15px;
    margin: 0 10%;
    z-index: 999;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    background-color: transparent;
    animation: FadeInSlide 1s ease;
}

@keyframes FadeInSlide {
    from{opacity: 0; transform: translateY(-30px);}
    to{opacity: 1; transform: translateY(0);}
}

.container_nav .navbar .links a {
    margin-right: 2em;
    text-decoration: none;
    color: #212832;
    position: relative;
    font-weight: 500;
    position: relative;
}

.container_nav .navbar .links a::after,
.container_nav .navbar .btns a.login::after,
.mobile-menu-content a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #212832;
    transition: width 0.3s ease;
}
.container_nav .navbar .links a:hover::after,
.container_nav .navbar .btns a.login:hover::after,
.mobile-menu-content a:hover::after
{width: 100%;}
.mobile-menu-content .mobile-btns a.signup:hover::after{width: 0;}

.container_nav .navbar .btns {
    display: flex;
    align-items: center;
    gap: 2em;
}

.container_nav .navbar .btns a {
    text-decoration: none;
    color: #212832;
}

.container_nav .navbar .btns a.login {
    font-weight: 500;
    position: relative;
}

.container_nav .navbar .btns a.signup {
    border: 1px solid #212832;
    padding: 6px 12px;
    border-radius: 5px;
    transition: all .3s ease;
    font-weight: 500;
}

.container_nav .navbar .btns a.signup:hover {
    color: white;
    background-color: #212832;
}

.container_nav .navbar .btns select {
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 999;
}

.hamburger .line {
    width: 100%;
    height: 3px;
    background-color: #212832;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.hamburger-active .line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}

.hamburger-active .line:nth-child(2) {
    opacity: 0;
}

.hamburger-active .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}
.logo {
    font-size: 34px;
    font-weight: 700;
    display: none;
    margin: auto;
    cursor: pointer;
}
.logo span {
    color: #967AA1;
}
.navbar.active .logo.mobile-logo {display: block;}

/* Mobile Menu Styles */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
    overflow: hidden;
    transition: height 0.5s ease-in-out ;
    z-index: 998;
}

.mobile-menu.active {
    height: calc(100vh);
    top: 0;
    padding-top: 90px;
}
.mobile-menu.active .mobile-menu-content{display: flex;}


.mobile-menu-content {
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: none;
}

.mobile-menu-content a {
    text-decoration: none;
    color: #212832;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}

.mobile-menu-content .mobile-btns {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.mobile-menu-content .mobile-btns a {
    border: none;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
}

.mobile-menu-content .mobile-btns a.login {
    color: #212832;
}

.mobile-menu-content .mobile-btns a.signup {
    background-color: #212832;
    color: white;
    border: 1px solid #212832;
    transition: all .3s ease;
}
.mobile-menu-content .mobile-btns a.signup:hover{background-color: transparent; color: #212832; border: 1px solid #212832;}

.mobile-menu-content .lang-select {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: transparent;
}
/* ---------------------- NAVBAR ---------------------- */


/* ---------------------- RESPONSIVENESS ---------------------- */
@media (max-width: 1200px) {
    .right, .represent{
        display: none;
    }
    .car-img {
        width: 100%;
    }
    #loginForm {
        margin: auto;
    }
}
@media (max-width: 900px) {
    .container_nav .navbar {
        background-color: transparent;
        backdrop-filter: blur(0);
        box-shadow: none;
    }
    .container_nav .navbar .links,
    .container_nav .navbar .btns {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    
}
@media screen and (min-width: 901px) {
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 500px) {
    .logo {
        font-size: 28px;
    }
}