/* reset */
*, *::before, *::after { box-sizing: border-box; }


html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.container_nav{
    width: 100vw;
    display: flex;
    justify-items: center;
    align-items: center;
    align-self: center;
    padding: 40px 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 30;
    margin: 0;
    
}

.signup{
    padding: 5px;
    border:  solid black 1px;
    border-radius: 5px;
    align-self: center;
}


.signup:hover{
    animation: signin 0.3s forwards;
}    

.navbar{
    width: 100%;
    display: flex;
    gap: 180px;
    justify-content: center;
    align-content: center;
}

.navbar a{
position: relative;
text-decoration: none;
display: inline-block;
font-weight: 500;
color: black;
font-size: 17px;
}
.navbar a:not(.signup)::after{
content: "";
position: absolute;
left: 0;
bottom: -2px;
width: 0;
height: 2px;
background-color: #212832;
transition: width 0.3s ease;
}
.navbar a:not(.signup):hover::after {
width: 100%;
}

.links, .btns{
    display: flex;
    gap: 30px;
    align-items: center;
}



.head_logo{
    display: flex;
    font-size: xx-large;
    color: black;
    font-weight: 600;
    animation: anim_360 2s;
}


.head_logo span{
    color: rgb(150, 122, 161);
}

#lang{
    background-color: transparent;
    border: 0;
}

/* -----main body----- */

.container{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.logo_welcome h2{
    margin: 0;
    font-family:'Times New Roman', Times, serif ;
    font-size: xxx-large;
}


.logo_welcome{
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
    position: relative;
    left: 2%;
    width: 70vw;
}

.content{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    z-index: 20;
}



.prpl_Bg{
    width: 45%;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: rgb(187, 184, 225);
    border-radius: 54% 25% 25% 54%;
    height: 119.35em;
}

.white_Bg{
    width:100%;
    position: absolute;
    right: 0;
    z-index: 8;
    background-color: white;
    height: 119.35em;
    background-color: transparent;
    backdrop-filter: blur(100px);
}

img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: auto;
    border-radius: 15px;
    box-shadow: 0 0 25px 1px rgb(150, 122, 161);

}


.car_specs{
    display: flex;
    padding: 30px;
    margin-top: 30px;
    gap: 50px;
    justify-self: center;
    border-radius: 10px;
}

.right_fade-slide-right{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(222, 219, 254), white);
    width: 35%;
    padding-bottom: 30px;
    border-radius: 15px;
    margin-bottom: 120px;
    box-shadow: 0 0 15px 1px rgb(150, 122, 161);
}



.calc-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}



.calc-row, .right_fade-slide-right h2, .options-group, .total-price-box{
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    background-color: white;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 0 0 2ch 0.5ch rgba(156, 135, 193, 0.857);
}

.right_fade-slide-right h2{
    margin-bottom: 50px;
    background-color: transparent;
    align-items: center;
    box-shadow: none;
}

button{
    width: 50%;
    align-self: center;
    padding: 12px;
    border-radius: 9px;
    border: solid white 1px;
    background-color: rgb(208, 204, 247);
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: larger;
}

button:hover{
    
    animation: get_bigger 0.8s forwards;
    border: #0a0b0c solid 1px;


}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid;
}


/* ----------le footer ----------- */



.footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgb(45, 49, 66);
    color: white;
    margin: 0;
    justify-items: center;
    align-items: center;
    z-index: 12;
    
}



.follows, .contact_us, .rights{
    padding: 50px 50px;
}


.contact_us{
    display: flex;
    gap: 200px;
}


.contact{
    text-align: center;
}



.follows{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    border-bottom: solid rgb(65, 63, 63) 1px;
    width: 100%;
}


.rights{
    display: flex;
    border-top: solid 1px rgb(78, 76, 76);
    width: 100%;
    justify-content: center;
}

.price-per-day{
    display: flex;
    gap: 5px;
}

/* ---------scroll images----------- */

.image{
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
}
#left, #right{
    font-size: xx-large;
    align-self: center;
    cursor: pointer;
    user-select: none;
    background-color:rgba(106, 106, 106, 0.517);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#left{
    position: absolute;
    left: 22%;
    top: 50%;
   
}
#right{
    position: absolute;
    right: 22%;
    top: 50%;
   
}

#left:hover, #right:hover{
    background-color: rgba(150, 150, 150, 0.767);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* --------------les animations ------------------ */



@keyframes signin{
    100% {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }   
}


@keyframes  get_bigger{
    100% {
        transform: scale(1.2);
    }
    
    
}


@keyframes anim_360 {

    100%{transform: rotate(360deg);}
}


/* -------------responsive --------------- */



@media only screen and (max-width: 768px) {
    .navbar{
        width: 100%;
        gap: 10px;
    }


    .container_nav{
        width: 100%;

    }

    .navbar{
        gap: 5px;
    }

    .right_fade-slide-right{
        width: 100%;
        height: auto;
    }

    .logo_welcome{
        /* max-width: 768px; */
        width: 100%;
        align-self: self-start;
    }

    img{
        width: 100%;
    }

    .footer{
        width: 100%;
    }

    .container_nav{
        font-size: x-small;
        gap: 10px;
    }

    .head_logo{
        display: none;
    }

    .footer{
        width: 100%;
    }
    .contact_us{
        display: flex;
        flex-direction: column;
    }
    #left{
        left: 1%;
    }
    #right{
        right: 1%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    #left{
        left: 6%;
    }
    #right{
        right: 6%;
    }
}