* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: white;
}


/* ---------------------- NAVBAR ---------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 10%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.navbar .links a {
    margin-right: 2em;
    text-decoration: none;
    color: #212832;
    position: relative;
    font-weight: 500;
    position: relative;
}

.navbar .links a::after,
.navbar .btns a.login::after,
.mobile-menu-content a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #212832;
    transition: width 0.3s ease;
}
.navbar .links a:hover::after,
.navbar .btns a.login:hover::after,
.mobile-menu-content a:hover::after
{width: 100%;}
.mobile-menu-content .mobile-btns a.signup:hover::after{width: 0;}

.navbar .btns {
    display: flex;
    align-items: center;
    gap: 2em;
}

.navbar .btns a {
    text-decoration: none;
    color: #212832;
}

.navbar .btns a.login {
    font-weight: 500;
    position: relative;
}

.navbar .btns a.signup {
    border: 1px solid #212832;
    padding: 6px 12px;
    border-radius: 5px;
    transition: all .3s ease;
    font-weight: 500;
}

.navbar .btns a.signup:hover {
    color: white;
    background-color: #212832;
}

.navbar .btns select {
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 999;
}

.hamburger .line {
    width: 100%;
    height: 3px;
    background-color: #212832;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.hamburger-active .line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}

.hamburger-active .line:nth-child(2) {
    opacity: 0;
}

.hamburger-active .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* Mobile Menu Styles */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
    overflow: hidden;
    transition: height 0.5s ease-in-out ;
    z-index: 998;
}

.mobile-menu.active {
    height: calc(100vh);
    top: 0;
    padding-top: 90px;
}
.mobile-menu.active .mobile-menu-content{display: flex;}

.mobile-menu-content {
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: none;
}

.mobile-menu-content a {
    text-decoration: none;
    color: #212832;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}

.mobile-menu-content .mobile-btns {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.mobile-menu-content .mobile-btns a {
    border: none;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
}

.mobile-menu-content .mobile-btns a.login {
    color: #212832;
}

.mobile-menu-content .mobile-btns a.signup {
    background-color: #212832;
    color: white;
    border: 1px solid #212832;
    transition: all .3s ease;
}
.mobile-menu-content .mobile-btns a.signup:hover{background-color: transparent; color: #212832; border: 1px solid #212832;}

.mobile-menu-content .lang-select {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: transparent;
}
/* ---------------------- NAVBAR ---------------------- */



.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* ---------------------- LEFT PANEL ---------------------- */
.left {
    flex: 1.2;
    padding: 80px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.back_to a{
    display: inline-flex;
    align-items: center;
    gap: .3em;
    color: #777777;
    text-decoration: none;
    position: relative;
    margin-top: 1em;
    margin-bottom: 0em;
    transition: all .3s ease;
}
.back_to a:hover, .back_to a:hover::after{color: #333;}
.back_to a::after,
.navbar .links a::after,
.navbar .btns a.login::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #777777;
    transition: all .3s ease;
}

.back_to a:hover::after,
.navbar .links a:hover::after,
.navbar .btns a.login:hover::after
{width: 100%;}

.logo_welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.logo {
    font-size: 34px;
    font-weight: 700;
}

.logo span {
    color: #967AA1;
}

h2 {
    color: #555;
}


form {
    width: 100%;
    margin-top: 2em;
    max-width: calc(100% - 200px);
}

form .grp_label{
    display: flex;
    align-items: center;
    gap: 1em;
}
form .grp_label .label{width: 50%;}

label {
    font-size: 15px;
    color: #444;
    display: block;
    margin-top: 10px;
}


input,
form .grp_label select#city{
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px;
    border: none;
    border-bottom: 2px solid #dcb3e3cd;
    background: none;
    outline: none;
    font-size: 15px;
}

input:focus{
    box-shadow: 0px 8px 6px -6px #dcb3e3cd;
}
.login-btn {
    width: 150px;
    padding: 12px;
    background: #967AA1;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}

.login-btn:hover {
    background: #6f567a;
    transform: scale(1.05);
}

.signup-text {
    margin-top: 20px;
    color: #333;
}

.signup-text a {
    color: #967AA1;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}
.signup-text a::after{
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0;
    height:2px;
    background-color: #967AA1;
    width: 0;
    transition: all .3s ease;
}
.signup-text a:hover::after{
    width: 100%;
}

/* ---------------------- RIGHT PANEL ---------------------- */
.right {
    flex: 1;
    background: #dedbfe;
    border-top-left-radius: 90% 100%;
    border-bottom-left-radius: 30% 100%;
    position: relative;
    user-select: none;
}

.car-img {
    width: 85%;
    max-width: 550px;
    filter: drop-shadow(0 20px 40px rgba(0,0,0,0.3));
    animation: imageFade 1.6s ease forwards;
    position: absolute;
    left: -200px;
    top: calc(-50% + 600px);
    
}
.right P.sign_in_p{
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    color: #967AA1;
}
.right .represent{
    font-size: 2em;
    position: relative;
    font-size: 34px;
    font-weight: 700;
    width: 45%;
    height: 50%;
    top: 32%;
    left: 330px;
}
.right .represent p{position: absolute; color: #f0f6ff; font-weight: bolder;}
.right .represent p:nth-child(1){
    top: 0;
}
.right .represent p:nth-child(2){
    top: 2.8em;
    left: 3em;
}
.right .represent p:nth-child(3){
    top: 6em;
    left: 2.9em;
}
.right .represent p:nth-child(4){
    top: 9em;
    left: 0em;
}
@keyframes imageFade {
    from { opacity: 0; transform: translateX(60px); }
    to { opacity: 1; transform: translateX(0); }
}

/* ---------------------- FADE + SLIDE ANIMATIONS ---------------------- */

.fade-slide-left {
    opacity: 0;
    animation: fadeLeft 1.2s ease forwards;
}
.fade-slide-right {
    opacity: 0;
    animation: fadeRight 1.2s ease forwards;
}

@keyframes fadeLeft {
    from { opacity: 0; transform: translateX(-60px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeRight {
    from { opacity: 0; transform: translateX(60px); }
    to { opacity: 1; transform: translateX(0); }
}


/* ---------------------- FOOTER ---------------------- */
.footer{
    padding: 90px 0 60px;
    background-color: #2D3142;
    color: white;
}
.footer .follows{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.footer .follows p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.footer .follows a{
    text-decoration: none;
    color: white;
    margin-right: .5em;
    font-size: 21px;
}
.footer .follows a i{ transition: all .3s ease;}
.footer .follows a:hover i{
    color: #ccc;
}

.footer .contact_us{
    padding: 36px 0 47px;
    margin: 36px 0;
    border-top: 1px solid rgba(150, 150, 150, 20%);
    border-bottom: 1px solid rgba(150, 150, 150, 20%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact_us .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #CFCFCF;
}
.contact_us .contact .img i{
    font-size: 22px;
}
.contact_us .contact .title{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.footer .rights{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    vertical-align: middle;
    color: #CFCFCF;
    text-align: center;
    padding: 0;
    margin: 0;
}
/* ---------------------- FOOTER ---------------------- */


/* ---------------------- RESPONSIVENESS ---------------------- */
@media (max-width: 1200px) {
    .right .represent{
        display: none;
    }
    .car-img {
        width: 100%;
    }
}
@media (max-width: 900px) {
    .navbar {
        background-color: transparent;
        backdrop-filter: blur(0);
        box-shadow: none;
    }
    .navbar .links,
    .navbar .btns {
        display: none;
    }
    .hamburger {
        display: flex;
    }

    .container {
        flex-direction: column;
        height: auto;
    }

    .right {
        clip-path: none;
        padding: 30px 0;
        order: -1;
    }

    .left {
        padding: 40px;
        text-align: center;
    }

    form {
        width: 100%;
        margin: 0 auto;
    }

    
    .right {
        border-top-left-radius: 0 0;
        border-bottom-left-radius: 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .car-img {
        width: 55%;
        position: relative;
        left: 0;
        top: 0; 
    }
    .right P{
        font-size: 2em;
        position: relative;
        top: 0;
        right: 0;
        transform: rotate(0deg);
        margin-bottom: 1em;
        
    }
}
@media screen and (min-width: 901px) {
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 500px) {

    .logo {
        font-size: 28px;
    }
    .right{padding-top: 70px;}
    .right p.sign_in_p{
        position: relative;
        top: 0;
        margin-bottom: 5px;
    }
    .right .represent{
        font-size: 9px;
        position: relative;
        width: max-content;
        height: max-content;
        top: 0%;
        left: 0%;
        display: flex;
        gap: 10px;
        line-height: normal;
    }
    .right .represent p{
        position: relative;
    }
    .right .represent p:nth-child(1),
    .right .represent p:nth-child(2),
    .right .represent p:nth-child(3),
    .right .represent p:nth-child(4){
        top: 0;
        left: 0;
    }
    form{padding: 2em; max-width: 100%;}
    form label {
        float: left;
    }
    .back_to{
        display: flex;
        margin: 0;
        padding: 0;
    }
    .back_to a{margin-bottom: 1em;}
    .left {
        width: 100%;
        margin-top: 0px;
    }
    .footer .contact_us{
        flex-direction: column;
        gap: 1em;
    }
}